/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}/Users/leesocer3/amharrington.github.io/final/reset.css
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - Start of Your CSS*/


.ah{
	width:50px;
	height:50px;
	text-align:center;
}


#nav a {
	padding:2%;
	text-align:center;
	font-size:1em;
	color:beige;
	width:100%;
	text-decoration:none;
	text-transform:uppercase;
	font-family:sans-serif;	
	display:inline;
}


#nav ul li {
	margin:10px;
	display:inline;
	width:100%;
}

#nav{
	padding:10px;
	height:20px;
	width:100%;
	text-align:center;
	background-color:darkslategray;
}

.headerwrapper{
	position:fixed;
	width:100%;
	height:100px;
	background-color:darkslategray;	
	
}

header{
	position:fixed;
	background-color:darkslategray;
	width:100%;
}

ul.gridtop {
	list-style: none;
	font-size: 0px;
}

h2 {
	font-size:1.5em;
	text-align:center;
	padding-top:3%;
	font-family:sans-serif;
	text-shadow:5px 5px 0px #eee, 7px 7px 0px #707070;
}

h4 {
	font-size:1.5em;
	text-align:center;
	padding-top:2%;
	font-family:sans-serif;
}

h6 {
	font-size:.7em;
	text-align:center;
	padding-top:1%;
	padding-bottom:3%;
	font-family:sans-serif;
}

h3 {
	font-size:1.5em;
	text-align:center;
	font-family:sans-serif;
	padding-top:2%;
	padding-bottom:2%;
}

h5 {
	background-color:ivory;
}


#me{
	clear:both;
}

#blurb{
	background-color:darkseagreen;
	width:100%;
	padding-top:100px;
} 

.green{
	background-color:darkseagreen;
}
#work{
	background-color:beige;
	width:100%;
}

#me{
	background-color:ivory;
	width:100%;
}

#grid{
	background-color:beige;
	width:100%;
}

.images{
	text-align:center;
	width:80%;
	background-color:beige;
}	

.project1, .project2, .project3, .project4, .project5, .project6 {
	float:left;
	padding:5%;
	background-color:beige;
}

#middle{
	margin: 0 auto;
	height:100%;
	padding-left:22%;
}

#res{
	position:absolute;
	text-align:center;
	width:100%;
	background-color:ivory;
}

#scroll{
	text-align:center;
}
.expand{
	text-align:center;
	padding-top:3%;
	padding-bottom:3%;
}

.about, .skills, .contact{
	position: relative;
	float: left;
	margin: 10px 10px;
	width: 300px;
	background-color:ivory;
}

.bottom{
	padding-top:3%;
	padding-bottom:3%;
	
	margin:0 auto;
	background-color:ivory;	
}

body{
	background-color:beige;
}

html, body { 
   height: 100%;
}


